ul.menu, ul.menu * {
  margin: 0px;
  padding: 0px;
  float:left;
  border-radius:0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border: 0 0 7px 7px;
}

ul.menu {
  display: block;
  float: left;
}

ul.menu li {
  display: block;
  list-style: none;
  float: left;
  position: relative;
}

ul.menu li:hover {
  visibility: inherit; /* fixes IE7 'sticky bug' */
}

ul.menu a {
  display: block;
  position: left;
}

ul.menu ul {
  position: absolute;
  left: 0;
  top: auto;
}

ul.menu ul a {
  zoom: 1; /* IE6/7 fix */
}

ul.menu ul li {
  float: left; /* IE6/7 fix */
}

ul.menu ul ul {
  top: 0;
  margin: 0 0 0 0;
}

ul.menu li:hover ul,ul.menu li:focus ul,ul.menu li.hover ul,
ul.menu ul li:hover ul,ul.menu ul li:focus ul,ul.menu ul li.hover ul,
ul.menu ul ul li:hover ul,ul.menu ul ul li:focus ul,ul.menu ul ul li.hover ul,
ul.menu ul ul ul li:hover ul,ul.menu ul ul ul li:focus ul,ul.menu ul ul ul li.hover ul {
  left: auto;
}

ul#nav {
  padding: 0px 0px;
  background: transparent;
}

ul#nav li.current a {
  color: #eee;
  background: transparent;
}

ul#nav ul {
  background: #99CCFF;
  float: left;
}

ul#nav li a {
  padding: 0px 10px;
  font-family: helvetica;
  text-decoration: none;
  color: #111;
  background: #99CCFF;
  margin-right: 0px;
  border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px ;
  -webkit-border: 0 0 7px 7px;
}

ul#nav li a:hover, ul#nav li a:focus {
  color: #FFF;
}
ul#nav li ul li a {
  margin-right: 0px;
  border-radius: 0px 0px 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border: 0 0 0 0;
}
