html:.body{
  background: rgb(6, 109, 171);
}

.content{
  font-family:Calibri, Helvetica, serif;
  color:#444;
  width:100%;
  padding:10px;
  border:0px solid #222;
  background:#f6f6f6;
}

#container{
  color: #444;
  width:100%;
  height:100%;
  padding:10px 10px 10px 10px;
  border:0px solid #f6f6f6;
  background:#f6f6f6;
}

.article{
  height:100%;
  margin-left:25%;
  margin-right:25%;
  margin-top:5%;
  margin-bottom:5%;
  text-align:left;
  font-family:arial;
}

header{
  border:0px;
  padding:20px 75px 0px 10px;
  margin:0px 0px 0px 0px;
  background:#99bbFF;
}

#logo{
  font-size: 32px;
  border-bottom: 0px;
  text-shadow: #000;
}

#logobanner h1, .logoremap{
  color:#003DAB;
  font-family:arial;
  padding: 0px 0px 0 0;
  text-align:left;
  border-color:#000000;
  border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  -webkit-border: 7px 7px 0px 0px;
}

#logobanner h2, .logoscotland {
  padding: 10px 20px 0 0;
  color: #000;
  font-family:arial;
}
#logo h2 { 
  margin-right:30px;
  margin-top: 30px;
  
  font-size:40px;
}

h1, nav{
  text-align:left;
  margin:0 0 0px;
  float:left;
  height:0px;
}

h2 {
  font-size: 24px;
  padding: 0px 20px 5px 0;
  margin: 10px 240px 20px;
  color: #222;
  text-align:left;
  font-family: arial;
}

h3, {
  color: #222;
  letter-spacing: 0em;
  padding: 0 0 0px 0;
  font: normal 12px serif;
  margin: 0 0 0px 0;
  padding: 5px 0 5px 0;
  color: #444;
  text-shadow: 1px 1px 1px #eee;
}

a, a:hover {
  outline: none;
  text-decoration: underline;
  color: #444;
}

a:hover {
  text-decoration: none;
  color: #000;
}

ul {
  margin: 2px 0 10px 10px;
  float:left;
}

footer {
  width: 600px;
  font-family:arial,bold;
  font-size: 20px;
  text-align: center;
  background: rgb(197,222,234); /* Old browsers */
  border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  -webkit-border: 7px 7px 0px 0px;
  padding:30px;
  margin: 0 0 0 0;
}

.footer a {
  color: #000;
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
  text-decoration: none;
}
.footer a, a:hover {
  outline: none;
  text-decoration: underline;
  color: #000;
}
.separator {
  border-top: 2px solid #222;
  margin: 0 20px 0 0;
}
