body {
  margin : 0;
  font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color : #f6f6f6;
}
div.container {
  width : 100%;
}
div.widget {
  float : left;
  position:fixed;
  padding-top : 0;
  height : 0;
}
.widget.sidebar-right {
  float : right;
  width:20%;
  height:200px;
}
section.content {
  float : none;
  font-family : Calibri, Helvetica, serif;
  border : #000 solid 0;
  background : #e6e6ef;
  box-shadow : 0 1px 10px #000, 0 1px 0 #000 inset;
}
.site-header {
  background-color : #0047AB;
  width : 100%;
  height : 100px;
  padding-top : 10px;
  border-radius : 1px 1px 1px 0;
  box-shadow : 0 3px 4px #fff, 3px 0 0 #0047AB inset;
}
h1 {
  font-size : 1.4em;
  color : #ffffff;
  padding : 0 10px 10px 2.0em;
  box-shadow : 0 3px 4px #fff, 3px 0 0 #0047AB inset;
  font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  font-size : 1.6em;
  color : #f6f6f6;
  font-weight:500;
  background-color : #0047AB;
  border-radius : 2px 2px 2px 2px;
  box-shadow : 0 3px 4px #fff, 3px 0 0 #0047AB inset;
  font-family : Helvetica, Arial, sans-serif;
  margin-top:-0.5em;
}

h3 {
  color : #ddd;
  letter-spacing : 0;
  padding : 8px 10px 0 0;
  font : normal normal 32px serif;
  font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin : 0 0 0 0;
  color : #444;
  font-size : 1.2em;
  text-shadow : 1px 1px 1px #eee;
}
h4 {
  color : #222;
  letter-spacing : 0;
  font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size : 30px;
  padding : 0;
  font : normal normal 20px serif;
  margin : 0 0 0 0;
  color : #444;
  text-shadow : 1px 1px 1px #fff;
}
h5 {
  color : #eee;
  letter-spacing : 0;
  font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size : 1.3em;
  padding : 0;
}
div.article {
  position:;
  border : #000 solid 0px;
  margin : 0 20% 0 20%;
  padding : 5% 5% 10% 5%;
  text-align : justify;
  font-family : arial;
  background-color : #efefef;
  box-shadow : 0 0 10px #a7a7a7, 0 1px 3px #000 inset;
  font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main p{
  font-size:1.0em;
  text-align : justify;
}
div.site-footer {
 float:bottom;
  background : #a0a0a0;
  color : #fff;
  font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size : 1.0em;
  text-align : center;
  border : #050505 solid 2px;
}
.footer a {
  text-decoration : none;
}
.footer a:hover {
  text-decoration : none;
}
.footer a, a:hover {
  outline : none;
}
.separator {
  border-top : 2px solid #222;
  margin : 0 80px 0 0;
  box-shadow : 0 3px 10px #42647F, 0 0 0 #45484b inset;
}
